
{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": "defaults",
          "modules": "commonjs"
          // Other preset options if needed
        }
      ],
      "@babel/preset-react"
    ]
  }
  